.git
.github
node_modules
vendor
public/build
public/hot
bootstrap/cache/*.php
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
.env
.env.*
!.env.example
tests
test-results
playwright-report
blob-report
.phpunit.cache
.vscode
.idea
.zed
.nova
.cursor
Dockerfile
.dockerignore
README.md
